/*************************************************
/* ESTRUCTURAMIENTO DE CAJAS DEL CUERPO DE LA PÁGINA */

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/*************************************************
/* VISTA DE ESCRITORIO - Dispositivos >= 768 píxeles */
@media (min-width: 768px) {

	body {
		width: 90%;
		margin: 0 auto;
		background-image: url('../img/fondo.jpg');
	}

	body main {
		background-color: black; /*
		opacity: 0.65; */
		border: 1px solid white;
	}

	body main section {
		width: 96%;
		margin: 0 auto;
		background-color: white;
		opacity: 1;
		font-family: "Times New Roman";

	}

	/* END VISTA DE ESCRITORIO */
	/************************************************ */

}

/* END ESTRUCTURAMIENTO DE CAJAS DEL CUERPO DE LA PÁGINA */
/************************************************ */