* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


/*************************************************
/* ESTRUCTURAMIENTO DE CAJAS DEL HEADER */

header {
	display: flex;
	width: 100%;
	background-color: black;
}

/* CONTENEDOR DEL LOGO */
header span#contenedor_logo {
	width: 40vw;
}

/* LOGO */
header span#contenedor_logo img#logo {
	max-height: 20vw;
}

/* MENÚ */
header span#contenedor_menu_movil {
	width: 60vw;
	text-align: right;
}

/* END ESTRUCTURAMIENTO DE CAJAS DEL HEADER */
/************************************************ */

/*************************************************
/* MENU PRINCIPAL (VERSIÓN MÓVIL) */

/* NAV PRINCIPAL */
header span#contenedor_menu_movil nav#nav_principal {
	width: 100%;
	text-align: right;
	font-family: Aclonica;
	font-size: 5vmin;
	position:absolute;
	top: 20vw;
	left:-300px;
	transition:all .5s ease;
}

/* ICONO DEL MENÚ */
header span#contenedor_menu_movil label.menu::before {
    content:"☰";
    font-size:15vw;
    color: white;
    text-align: right;
    padding-right: 2vw;
}

/* OCULTAR CHECKBOX */
header span#contenedor_menu_movil input.desplegable {
  display:none; 
}

/* SACAR EL MENÚ CUANDO SE PULSA EL CHECKBOX (ICONO) */
header span#contenedor_menu_movil input.desplegable:checked ~ nav#nav_principal {
  left: 0px;
  position:fixed;
}

/* BOTONERA DEL MENÚ */
header span#contenedor_menu_movil nav#nav_principal ul#botonera_menu {
	
	width: 60%;
	list-style-type: none;
	font-weight: bold;
	border: 2px solid black;
	background-color: #c89140;

	-webkit-border-radius: 5px;
	-webkit-border-top-left-radius:2em;
	-moz-border-radius: 5px;
	-moz-border-top-left-radius:2em;
	border-radius: 5px;
	border-top-left-radius:0px;
	-webkit-box-shadow: 4px 5px 5px 0px rgba(50, 50, 50, 0.32);
	-moz-box-shadow:    4px 5px 5px 0px rgba(50, 50, 50, 0.32);
	box-shadow:         4px 5px 5px 0px rgba(50, 50, 50, 0.32);
}

header span#contenedor_menu_movil nav#nav_principal ul#botonera_menu li {
	padding-top: 2vw;
	padding-bottom: 2vw;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

header span#contenedor_menu_movil nav#nav_principal ul#botonera_menu li a {
	display: block;
	padding-right: 3vw;
	text-decoration: none;
	color: white;
}

header span#contenedor_menu_movil nav#nav_principal ul#botonera_menu li a:hover {
	background-color: white;
	color: black;
}

/* END MENU PRINCIPAL (VERSIÓN MÓVIL) */
/************************************************ */